<p>
  <strong>Title:</strong>
  <%= @building.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @building.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @building.image %>
</p>

<p>
  <strong>Island:</strong>
  <%= @building.island_id %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @building.deadline %>
</p>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
