<!DOCTYPE html>
<html>
  <head>
    <title>Ideathon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row header-container">
          <div class="title col-md-5 col-xs-8">
            Idea Land
          </div>
          <div class="col-md-5 col-xs-0"></div>
          <div class="col-md-2 col-xs-4">
            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Menu
              <span class="caret"></span></button>
              <ul class="dropdown-menu my-dropdown-menu" style="width: 250px;">
                <div class="small-profile">
                  <div class="icon-container debug-background">
                  </div>
                  <div class="small-profile-name">
                    <p style="font-size:16px;margin-top:5px;">Takatito Motoki</p>
                    <p style="font-size:12px;">@MotokiTakahito</p>
                  </div>
                </div>
                <li><%= link_to "Timeline", { :controller => "hello", :action => "home"}, :method => :get %></li>
                <li><%= link_to "My Profile", { :controller => "hello", :action => "profile"}, :method => :get %></li>
                <li><%= link_to "Ranking", { :controller => "hello", :action => "ranking"}, :method => :get %></li>
                <li><%= link_to "Logout", { :controller => "users/sessions", :action => "destroy"}, :method => :delete %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
